@media screen and (max-width: 374px) {
    .navbar { padding: 0.7rem 1rem; }
    .navbar .logo { font-size: 1.1rem; }

    .navbar .nav-links { display: none; }
    .hamburger { display: flex; }

    .hero h1 { font-size: 1.4rem; margin-top: 2rem; }
}

@media screen and (min-width: 375px) and (max-width: 389px) {
    .navbar { padding: 0.8rem 1.3rem; }

    .navbar .logo { font-size: 1.2rem; }

    .navbar .nav-links { display: none; }
    .hamburger { display: flex; }

    .hero h1 { margin-top: 2.5rem; }
}

@media screen and (min-width: 390px) and (max-width: 427px) {
    .navbar { padding: 1rem 1.4rem; }

    .navbar .logo { font-size: 1.3rem; }

    .navbar .nav-links { display: none; }
    .hamburger { display: flex; }

    .btn { margin: 0.4rem 0.5rem; }
}

@media screen and (min-width: 428px) and (max-width: 479px) {
    .navbar { padding: 1.2rem 1.5rem; }
    
    .navbar .logo { font-size: 1.4rem; }

    .navbar .nav-links { display: none; }
    .hamburger { display: flex; }

    .btn { padding: 0.7rem 0.4rem; }
}

@media screen and (min-width: 768px) {
    .navbar .nav-links {
        display: flex !important;
        gap: 2rem;
    }

    .hamburger { display: none; }

    .navbar .logo { font-size: 1.6rem; }
}
